.patients {
  table {
    td.birthdate, td.full-name, td.phone, td.address, td.city {
      white-space: nowrap;
    }
  }
  overflow-x: scroll;
  padding-left: $padding-block;
  padding-right: $padding-block;
}
