$white: #FFFFFF;
$light-grey: #F1F1F1;
$grey: #dddddd;
$text-grey: #929497;
$dark-grey: #555555;
$black: #000000;

$blue: #28A8E0;
$orange: #F79421;
$yellow: #FCC93F;
$teal: #21837E;
$turquoise: #78B4B1;

$foreground: $black;
$background: $white;
$highlight: $blue;

$padding-block: 15px;
$toggle-height: 35px;
$content-well: 50px;

$input-invalid: #f2dede;
$input-valid: #dff0d8;

$active: #AD2681;
$social: rgba(71, 138, 247, 0.72);

$footer-height: 40px;
